[submodule "future/tomllib"]
	path = future/tomllib
	url = https://github.com/uiri/toml.git
[submodule "python3.11/tomllib"]
	path = python3.11/tomllib
	url = https://github.com/uiri/toml.git
[submodule "python_3_11/tomllib"]
	path = python_3_11/tomllib
	url = https://github.com/uiri/toml.git
[submodule "dependencies/tomllib"]
	path = dependencies/tomllib
	url = https://github.com/uiri/toml.git
[submodule "dependencies/posix-adapter"]
	path = dependencies/posix-adapter
	url = https://github.com/posixtools/posix-adapter.git
[submodule "dependencies/posix-test"]
	path = dependencies/posix-test
	url = https://github.com/posixtools/posix-test.git
